<div>
  <div class="main_content">
    <!-- search form: -->
    <form #searchForm="ngForm" (ngSubmit)="onClickSubmit(searchForm.value)">
      <div class="row  py-3 m-0" style="background-color: #0098d0;">

        <div class="col-6">
          <div class="input_with_Icon">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="search"  name="search" id="search" style="height: auto;"  ngModel class="form-control"
              placeholder="{{adsTotalCount}} объявлений рядом">
          </div>
        </div>

        <div class="col-4 input_with_Icon px-0">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <select name="city" id="city" style="height: 100%;" class="form-control" ngModel [(ngModel)]="cityId">
            <option value="0">Вся Украина</option>
            <option *ngFor="let city of cities" value="{{city.cityId}}">
              {{city.name}}
            </option>
          </select>
        </div>

        <div class="col-2 input_with_Icon " >
          <i class="fa fa-search" style="color: white;" aria-hidden="true"></i>
          <input type="submit" value="Поиск" class="btn search_button">
        </div>
        
      </div>
    </form>


  
    <!-- this generates category row (4 in the row)-->
    <div *ngFor="let categoryArray of categoryArray_all">
      <div *ngFor="let category of categoryArray" class="category_item">
        <div>
          <!-- adds class style for icon (for each category different icon and color) -->
          <i *ngFor="let style of styleCategory | category: category.categoryId" class="{{style.iconClass}}"
            aria-hidden="true" [style.color]="style.color"></i>
          <span (click)="ShowList(category.categoryId)">{{category.name}}</span>
        </div>
      </div>
      <!-- this generates subcategory items for each category -->
      <div *ngFor="let category of categoryArray" [hidden] = "ShowOrHide(category.categoryId)">
        <div class="p-4 my-3 list_of_Items">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          <a [routerLink]="['/search', category.categoryId]">Смотреть все объявления</a>
          <span class="ml-2">в {{category.name}}</span>
          <hr>
          <ul class="row">
            <!-- filtering by category -->
            <li *ngFor="let subcat of subCategories | category: category.categoryId">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              <a [routerLink]="['/search', category.categoryId, subcat.subCategoryId]">{{subcat.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>







<!-- vip ads: -->
<div style="background-color: white;padding: 30px 0;">
  <div class="main_content">
    <h5>VIP-ОБЪЯВЛЕНИЯ</h5>

    <div class="row mx-0" style="justify-content: space-between;">
      <div *ngFor="let item of ads" class="ads card">
        <a [routerLink]="['/details', item.adId]">
          <img
            src="{{exampleImage}}"
            class="card-img-top">
        </a>
        <div class="card-body py-1 px-2">
          <div>
            <a class="crop" title="{{item.title}}" [routerLink]="['/details', item.adId]">{{item.title}}</a>
          </div>
          <div class="card_text">
            <span>{{item.price |  number: '2.' }} грн.</span>
            <i class="fa fa-star-o star" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>

    


  </div>
</div>