<div class="mt-4">
  <div class="main_content">
    <!-- search form: -->
    <form #searchForm="ngForm" (ngSubmit)="onClickSubmit(searchForm.value)">
      <div class="row p-3 search-form">
        <div class="col-5 pl-0">
          <div class="input_with_Icon">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="search" autofocus name="search" id="search" ngModel class="form-control"
              placeholder="{{adsTotalCount}} объявлений рядом">
          </div>
        </div>
        <div class="col-5 px-0 input_with_Icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>

          <select name="city" id="city" #city="ngModel" ngModel>
            <option [ngValue]="0">Вся Украина</option>
            <option *ngFor="let city of cities" [ngValue]="city.cityId">
              {{city.name}}
            </option>
          </select>
        </div>
        <div class="col-2 pr-0 input_with_Icon">
          <input type="submit" value="Send" class="btn btn-primary">
        </div>
      </div>
    </form>


  
    <!-- this generates category row (4 in the row)-->
    <div *ngFor="let categoryArray of categoryArray_all">
      <div *ngFor="let category of categoryArray" class="category_item">
        <div>
          <!-- adds class style for icon (for each category different icon and color) -->
          <i *ngFor="let style of styleCategory | category: category.categoryId" class="{{style.iconClass}}"
            aria-hidden="true" [style.color]="style.color"></i>
          <span (click)="ShowList(category.categoryId)">{{category.name}}</span>
        </div>
      </div>
      <!-- this generates subcategory items for each category -->
      <div *ngFor="let category of categoryArray" [hidden] = "ShowOrHide(category.categoryId)">
        <div class="p-4 my-3 list_of_Items">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          <a href="javascript:void" (click)="ItemClicked(category.categoryId, 0)">Смотреть все объявления</a>
          <span class="ml-2">в {{category.name}}</span>
          <hr>
          <ul class="row">
            <!-- filtering by category -->
            <li *ngFor="let subcat of subCategories | category: category.categoryId">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
              <a href="javascript:void"
                (click)="ItemClicked(category.categoryId, subcat.subCategoryId)">{{subcat.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>







<!-- vip ads: -->
<div style="background-color: white;padding-top: 20px;">
  <div class="main_content">
    <h5>VIP-ОБЪЯВЛЕНИЯ</h5>
    <div class="row">
      <div *ngFor="let item of ads" class="ads card">
        <a href="/details?id={{item.adId}}">
          <img
            src="https://cache.pressmailing.net/thumbnail/story_big/717fc4de-eb28-4066-8019-b65a007b230c/prominenter-preis-f-r-das-pony-car-ford-mustang-edition-bullitt-ist-das-auto-bild-sportscar-des-jahr"
            class="card-img-top">
        </a>
        <div class="card-body py-1 px-2">
          <div>
            <a href="/details?id={{item.adId}}">{{item.title}}</a>
          </div>
          <div class="card-text" style="display: flex;justify-content: space-between;align-items: center;">
            <span>{{item.price}} uah</span>
            <i class="fa fa-star-o star" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right py-5">
      <a href="#">
        <span>Посмотреть все</span>
        <i class="fa fa-chevron-right ml-2" aria-hidden="true"></i>
      </a>
    </div>


  </div>
</div>