.search-form{
    background-color: #0098d0;
    border-radius: 5px;
}




.category_item{
    padding-left: 0;
    ;
}
.category_item a{
   
   display: flex;
   
}
.category_item i{
    font-size: 30px;
    background-color: white;
    border-radius:50%;
}
.category_item span{
    font-size: 15px;
    align-self: center;
    font-weight: 600;
}



.ads{
    max-width: 18%;
    margin-right: 10px;
    margin-top: 30px;
}


.list_of_Items{
    display: block;
    color: #0098d0;
    background-color: white;
}

.list_of_Items ul{
    margin:0;
    padding: 0;
    list-style: none;
    
}

.list_of_Items ul li{
    margin-top: 30px;
    padding-right: 10px;
    width: 30%;
    
}

.list_of_Items ul li i, .list_of_Items i{
    margin-right: 5px;
}

.list_of_Items span{
    color: #c4c4c4;
}