.search-form{
    background-color: #0098d0;
    border-radius: 5px;
}
.gridCategory{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gridItem:nth-child(1){
 grid-row: 1;
 grid-column: 1;
}
.gridItem:nth-child(2){
    grid-row: 1;
    grid-column: 2;
   }
   .gridItem:nth-child(3){
    grid-row: 1;
    grid-column: 3;
   }
   .gridItem:nth-child(4){
    grid-row: 1;
    grid-column: 4;
   }

   .gridItem:nth-child(5){
    grid-row: 3;
    grid-column: 1;
   }
   .gridItem:nth-child(6){
    grid-row: 3;
    grid-column: 2;
   }
   .gridItem:nth-child(7){
    grid-row: 3;
    grid-column: 3;
   }
   .gridItem:nth-child(8){
    grid-row: 3;
    grid-column: 4;
   }
   .gridItem:nth-child(9){
    grid-row: 3;
    grid-column: 4;
   }

   




.category_item{
    display: inline-flex;
    width: 25%;
    margin: 20px 0;
}

.category_item i{
    font-size: 30px;
    background-color: white;
    border-radius:50%;
    color: salmon;
    padding: 5px;
}

.category_item div{
    cursor: pointer;
}
.category_item span{
    font-size: 14px;
    vertical-align: super;
    font-weight: 600;
    padding-left: 5px;
}



.ads{
    max-width: 18%;
    margin-right: 10px;
    margin-top: 30px;
}


.list_of_Items{
    display: block;
    color: #0098d0;
    background-color: white;
}

.list_of_Items ul{
    margin:0;
    padding: 0;
    list-style: none;
    
}

.list_of_Items ul li{
    margin-top: 30px;
    padding-right: 5px;
    width: 33%;
    
}

.list_of_Items ul li i, .list_of_Items i{
    margin-right: 5px;
}

.list_of_Items span{
    color: #c4c4c4;
}