<div>
    <div class="main_content">
        <div class="row">
            <div class="col-9" style="background-color: white;">
                <div class="text-center">
                    <img  src="https://apollo-ireland.akamaized.net/v1/files/p6kjfl9l3ooz1-UA/image;s=644x461" alt="">
                </div>
                
                <p>Металлоискатель, металошукая Фортуна М3, в корпусе ПЛ Гарантия 1 год.</p>
                <p>Луцк, Волынская область Добавлено: в 12:37, 6 апреля 2020, Номер объявления: 544058806</p>
                <p>
                    Металлоискатель, металошукая Фортуна М3, корпус ПЛ Гарантия 1 год.

                    Переходите на наш сайт, где есть больше моделей металлоискателей.

                    Ссылка на сайт: https://tainik.com.ua

                    Гарантия – 12 мес.
                    Катушка ВОДОНЕПРОНИЦАЕМАЯ!
                    Сделано в УКРАИНЕ!
                    Отправка по всей Украине БЕЗ ПРЕДОПЛАТ!
                </p>
            </div>
            <div class="col-3">
                <div style="background-color: white;text-align: center;padding: 25px 20px;">
                    333
                </div>
            </div>
        </div>

    </div>
</div>