<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="main_content" style="position: relative;">
      <div class="headerContainer">
        <div>
          <a [routerLink]="['/']">
            <img class="mainLogo" src="{{mainLogoSvg}}"> 
          </a>
        </div>
        <div>
          <ul class="navbar-nav py-2">
            <li class="nav-item">
              <a class="btn_Add_Ad btn bold" [routerLink]="['/post-new-ad']">+ Подать объявление</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>