

.mainLogo{
  width: 70px;
  position: absolute;
  left: 0%;
  top:0%;
}

.headerContainer{
  display: flex;
  justify-content: space-between;
}

.btn_Add_Ad{
  text-transform: uppercase;
  background-color: #ff8300;
  color: white;
}

html {
  font-size: 14px;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
