.main_content{
  width: 70%;
  margin: auto;
  
}

body{
  background-color: #f7f7f7;
}

a {
  color: #0098d0;
}


a:hover{
  color: white;
  text-decoration: none;
  background-color:#0098d0;
}

.primaryBlue{
  background-color: #0098d0;
}

.star{
  color: #c4c4c4;
  font-size: 15px;
}
.star:hover{
  color: #0098d0;
  cursor: pointer;
}

.bold{
  font-weight: 600;
}