.toTop{
    position: fixed;
    right: 5%;
    bottom: 0%;
    cursor: pointer;
    padding: 5px 20px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.search_button_outline{
    position: relative;
    width: 15%;
}

.search_button_outline i{
    position: absolute;
    color: #0098d0;
    padding-left: 10px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.search_button_outline input{
    width: 100%;
    padding-left: 20px; 
    color:  #0098d0;
    text-transform: uppercase;
    font-weight: 600;
    border-color: #0098d0;
}

.search_button_outline:hover input{
    background-color: #0098d0;
    color: white;
}
.search_button_outline:hover i{
    color: white;
}

.btn_sort{
    color: #0098d0 !important;
}

.btn_sort:hover {
    color: white !important;
}

.ad_price{
    font-weight: 600;
    font-size: 24px;
}

.ad_city{
    font-size: 14px;
    position: absolute;
    bottom: 2%;
    left: 1%;
}

.ad_city i{
    color: orangered;
    margin-right: 5px;
    
}

.ad_city span{
    margin-right: 20px;
}

.ad_cat_subcat span{
    font-size: 14px;
    color: #b4b4b4;
}

.showMore{
    cursor: pointer;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 40px;
    color: gray;
}

.showMore span{
    font-size: 25px;
    font-weight: 600;
}
.showMore div i{
    margin-top: 15px;
    font-size: 55px;
}