<div class="main_content">
    <form #searchForm="ngForm" (ngSubmit)="onClickSubmit(searchForm.value)">
        <div class="row py-1">

            <div class="col-4">
                <div class="input_with_Icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="search" style="height: auto;" class="form-control" placeholder="Новый поиск..." name="search" id="search" ngModel>
                </div>
            </div>

            <div class="col-4 px-0">
                <div class="input_with_Icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>

                    <select style="height: auto;"  class="form-control" id="city" (change)="filterCity($event.target.value)"> 
                        <option value="0">Вся Украина</option>
                        <option *ngFor="let city of cities" value={{city.cityId}}> 
                          {{city.name}}
                        </option>
                      </select> 

                </div>
            </div>

            <div class="col-4">
                <select id="category" style="height: 100%;" class="form-control" (change)="filterCategories($event.target.value)">
                    <option value="0">Все категории</option>
                    <option *ngFor="let cat of Categories" value={{cat.categoryId}}>
                        {{cat.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row" style="justify-content: flex-end;height: 100%;">
            <div class="col-4">
                <select id="subCategory"  class="form-control" (change)="filterSubCategories($event.target.value)" >
                    <option value="0">Все подкатегории</option>
                    <option *ngFor="let sub of _subCategories"  value={{sub.subCategoryId}}>
                        {{sub.name}}
                    </option>
                </select>
            </div>
        </div>
            

           
        <div class="row mt-3 mx-0">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"  name="searchTitleDesc" id="searchTitleDesc" ngModel>
                <label class="custom-control-label" for="searchTitleDesc">Искать в заголовке и описании</label>
            </div>
            <div class="custom-control custom-checkbox mx-5">
                <input type="checkbox" class="custom-control-input" id="searchWithPhoto" name="searchWithPhoto" ngModel>
                <label class="custom-control-label" for="searchWithPhoto">Только с фото</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="SearchWithDelivery" name="SearchWithDelivery" ngModel>
                <label class="custom-control-label" for="SearchWithDelivery">Товары с доставкой</label>
            </div>
        </div>
        <div class="mt-3">
            <div class="mb-2 col-3">
                <input type="number"  class="form-control" placeholder="Цена от (грн.)" value="-1" name="priceMin" id="priceMin" ngModel>
            </div>
            <div class="col-3">
                <input type="number" class="form-control" placeholder="Цена до (грн.)" value="-1" name="priceMax" id="priceMax" ngModel>
            </div>
        </div>
        <div class="row mt-3" style="justify-content: flex-end;">
            <div>
                <a href="#" class="btn">Добавить в избранное</a>
            </div>
            <div class="input_with_Icon ml-2">
                <input type="submit" value="Поиск" class="btn btn-primary">
            </div>
        </div>
        <div class="row mt-3">
            <div>
                <a (click)="SearchByAscOrder()" class="btn">Самые дешевые</a>
            </div>
            <div>
                <a (click)="SearchByDescOrder()" class="btn">Самые дорогие</a>
            </div>
        </div>
    </form>
</div>
<!-- results of search -->
<div style="background-color: white;">
    <div class="main_content py-5">

        <div class="text-left mb-3">
            <h5>Обычные объявления</h5>
            <p style="color: gray;font-size: 14px;">Найдено {{ads.length}} объявлений</p>
        </div>

        <div *ngFor="let item of ads" class="card my-3">
            <div class="row no-gutters">
                <div class="col-2">
                    <a (click)="Details(item.adId)">
                        <img style="width: 100%;"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ-eXU7nuTNc2WpFt58LTyr7Cjx5hX_TfR09KFMDZu3dDbknnF6&usqp=CAU"
                            class="card-img">
                    </a>
                </div>
                <div class="col-10">
                    <div class="p-2">
                        <div class="row">
                            <div class="col-6">
                                <a  class="card-title">{{item.title}}</a>
                            </div>
                            <div class="col-6 text-right">
                                <strong>{{item.price}} uah</strong>
                            </div>
                        </div>
                        <div>
                            <small>subcategory {{item.subCategoryId}}</small>
                        </div>
                        <div>
                            <small class="text-muted">{{item.desc}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>