<div class="main_content">
    <h5>Подать объявление на OLX</h5>
    <hr>
    <div class="row form-group">
        <div class="col-4 text-right">
            <label  for="title">Заголовок</label>
        </div>
        <div class="col-6">
            <input class="form-control" type="text" id="title">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4 text-right">
            <label  for="categoty">Рубрика</label>
        </div>
        <div class="col-6">
            <input class="form-control" type="text" id="categoty">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4 text-right">
            <label  for="desc">Описание</label>
        </div>
        <div class="col-6">
            <input class="form-control" type="text" id="desc">
        </div>
    </div>

 <h5>Ваши контактные данные</h5>
    <hr>
    <div class="row form-group">
        <div class="col-4 text-right">
            <label  for="city">Местоположение</label>
        </div>
        <div class="col-6">
            <input class="form-control" type="text" id="city">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4 text-right">
            <label  for="phone">Номер телефона</label>
        </div>
        <div class="col-6">
            <input class="form-control" type="text" id="phone">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4 text-right">
            <label  for="email">Email-адрес</label>
        </div>
        <div class="col-6">
            <input class="form-control" type="text" id="email">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-4 text-right">
            <label  for="name">Контактное лицо</label>
        </div>
        <div class="col-6">
            <input class="form-control" type="text" id="name">
        </div>
    </div>
    <hr>
    <div class="text-right my-3">
        <input type="button" class="btn btn-primary" value="Send">
    </div>
</div>